<%= stylesheet_link_tag "bootstrap" %>
<body class = "lead bg-warning">
    <h2> Edit Your Profile Here </h2>

    <div class = "row container">
      <div class = "col-md-6">
        <%= form_for @user, :url => { :action => "update" }, :html => { :method => "put", :class => "form-group" } do |f| %>
              Name :
              <%= f.text_field :name, :class => "form-control"%>
              <br/>
              <%= f.submit "Save", :class => "btn btn-default" %>
        <% end %>
      </div>
      <div class = "col-md-2"></div>
      <div class = "col-md-4">
        <h3 class = "text-info text-center">Change Password </h3>
        <br/>
        <%= form_for @user, :url => { :action => "change_password"}, :html => { :method => 'post', :class => "form-group" } do |f| %>
            New Password:
            <%= f.password_field :password, :class => "form-control" %>
            <br/>
            Conform-Password:
            <%= f.password_field :conform_password, :class => "form-control" %>
            <br/>
            <%= f.submit 'Change', :class => "btn btn-default" %>
        <% end %>

        <% if @error %>
            <p class = "text-danger"><%= @error %></p>
        <% end %>

      </div>
    </div>

</body>
