<div>
  <%= form_for @user, :url => { :action => "validate" }, :html => { :method => "post" } do |f| %>
      <p>
        <%= f.label :EmpId %> :
        <%= f.text_field :emp_id %>
      </p>
      <p>
        <%= f.label :Password %> :
        <%= f.text_field :password %>
      </p>
      <p>
        <%= f.submit "Login" %>
      </p>
  <% end %>

  <% if @error %>
    <%= @error %>
  <% end %>

</div>